
.hash{
	color: black;
	border: 3px solid black;
	margin: 10%;
	padding: 5%;
}

.hasham{
	background-image: url("pakarmyimage/img4.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
